/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 30% 30%;
    gap: 0px 0px;
    grid-template-areas:
    "leftup leftup rightup rightup"
    "leftmiddle leftmiddle rightmiddle rightmiddle"
    "leftdown leftdown rightdown rightdown";
}
.leftup { grid-area: leftup; }
.rightup { grid-area: rightup; }
.leftmiddle { grid-area: leftmiddle; }
.rightmiddle { grid-area: rightmiddle; }
.leftdown { grid-area: leftdown; }
.rightdown { grid-area: rightdown; }

table.simple {
    border-collapse: collapse;
}

table.simple, tr.simple, th.simple, td.simple {
    border: 1px solid black;
    border-bottom: 1px solid black !important;
}

.red {
    background-color: #ff703b;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lawngreen;
}