table.niceTable {
    border: 0px solid #FF0000;
    background-color: #FFB1B1;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.niceTable td, table.niceTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.niceTable tbody td {
    font-size: 13px;
}
table.niceTable tr:nth-child(even) {
    background: #F2F59E;
}
table.niceTable thead {
    background: #E5AA4A;
    background: -moz-linear-gradient(top, #ebbf77 0%, #e7b25c 66%, #E5AA4A 100%);
    background: -webkit-linear-gradient(top, #ebbf77 0%, #e7b25c 66%, #E5AA4A 100%);
    background: linear-gradient(to bottom, #ebbf77 0%, #e7b25c 66%, #E5AA4A 100%);
    border-bottom: 2px solid #444444;
}
table.niceTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    border-left: 2px solid #D0E4F5;
}
table.niceTable thead th:first-child {
    border-left: none;
}

table.niceTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #F5D5A8;
    background: -moz-linear-gradient(top, #f7dfbe 0%, #f6d9b0 66%, #F5D5A8 100%);
    background: -webkit-linear-gradient(top, #f7dfbe 0%, #f6d9b0 66%, #F5D5A8 100%);
    background: linear-gradient(to bottom, #f7dfbe 0%, #f6d9b0 66%, #F5D5A8 100%);
    border-top: 2px solid #444444;
}
table.niceTable tfoot td {
    font-size: 14px;
}
table.niceTable tfoot .links {
    text-align: right;
}
table.niceTable tfoot .links a{
    display: inline-block;
    background: #825113;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}