<%= form_with url: login_path, method: :post, class: "bg-light mx-auto mw-430 radius10 pt-40 px-50 pb-30" do |f| %>
  <h2 class="mb-40 small text-center" data-aos="fade-down" data-aos-delay="0">
    Login
  </h2>
  <div class="mb-20 input_holder" data-aos="fade-down" data-aos-delay="0">
    <input type="email" name="email" placeholder="Your email" class="input border-gray focus-action-1 color-heading placeholder-heading w-400">
  </div>
  <div class="mb-20 input_holder" data-aos="fade-down" data-aos-delay="250">
    <input type="password" name="password" placeholder="Your password" class="input border-gray focus-action-1 color-heading placeholder-heading w-400">
  </div>
  <div data-aos="fade-down" data-aos-delay="500">
    <button class="btn mt-25 action-1 w-400">
      Login
    </button>
  </div>
  <div class="mt-50 hr bg-gray h-2" data-aos="fade-down" data-aos-delay="500"></div>
<% end %>