<section class="pt-120 pb-120 bg-dark form_1" data-bg-src="<%= image_path("form_1_bg.jpg") %>" data-bg-src-2x="<%= image_path("form_1_bg.jpg") %>">
  <div class="container px-xl-0">
    <%= render 'form' %>
  </div>
</section>

<%#= link_to 'Back', user_sessions_path %>