<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style type="text/css">
        <!--
        /* Font Definitions */
        @font-face
        {font-family:SimSun;
            panose-1:2 1 6 0 3 1 1 1 1 1;}
        @font-face
        {font-family:Mangal;
            panose-1:0 0 4 0 0 0 0 0 0 0;}
        @font-face
        {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        {font-family:"\@SimSun";
            panose-1:2 1 6 0 3 1 1 1 1 1;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0cm;
            margin-bottom:.0001pt;
            text-autospace:ideograph-other;
            font-size:12.0pt;
            font-family:"Times New Roman",serif;}
        a:link, span.MsoHyperlink
        {color:#0563C1;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:#954F72;
            text-decoration:underline;}
        p
        {margin-right:0cm;
            margin-left:0cm;
            font-size:12.0pt;
            font-family:"Times New Roman",serif;}
        pre
        {mso-style-link:"Formátovaný v HTML Char";
            margin:0cm;
            margin-bottom:.0001pt;
            font-size:10.0pt;
            font-family:"Courier New";}
        p.Standard, li.Standard, div.Standard
        {mso-style-name:Standard;
            margin:0cm;
            margin-bottom:.0001pt;
            text-autospace:ideograph-other;
            font-size:12.0pt;
            font-family:"Times New Roman",serif;}
        p.-wm-western, li.-wm-western, div.-wm-western
        {mso-style-name:-wm-western;
            margin-right:0cm;
            margin-left:0cm;
            font-size:12.0pt;
            font-family:"Times New Roman",serif;}
        p.-wm-msonormal, li.-wm-msonormal, div.-wm-msonormal
        {mso-style-name:-wm-msonormal;
            margin-right:0cm;
            margin-left:0cm;
            font-size:12.0pt;
            font-family:"Times New Roman",serif;}
        span.FormtovanvHTMLChar
        {mso-style-name:"Formátovaný v HTML Char";
            mso-style-link:"Formátovaný v HTML";
            font-family:"Courier New";}
        .MsoChpDefault
        {font-family:"Calibri",sans-serif;}
        .MsoPapDefault
        {margin-bottom:8.0pt;
            line-height:107%;}
        @page WordSection1
        {size:595.3pt 841.9pt;
            margin:70.85pt 70.85pt 70.85pt 70.85pt;}
        div.WordSection1
        {page:WordSection1;}
        -->
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
